
.check-user-status {
	width: 25%;
	background: $orange;
	
}

.logged-in {
	padding: 0 10px;
	height: 100vh;
}

.logged-in_content {
	color: $white;
	text-align: center;
 	h1 {
 		font-weight: 600;
 		font-size: 1.5rem;
 		padding: 15px 0;
 	}
 	img {
 		max-width: 50%;
 		border: 5px solid white;
 		border-radius: 50%;
 		left: 50%;
 	}
 	button {
 		color: $white;
 		border:none;
 		background: $orange;
 		border: 1px solid $white;
 		border-radius: 20px;
 		padding: 10px 20px;
 		left: 50%;
 		text-transform: uppercase;
 		font-size: 0.9rem;
 	}
}

.nav {
	margin-top: 40px;
}


.navLink {
	display: block;
	color: $white;
	text-decoration: none;
	text-transform: uppercase;
	padding: 10px 0;
	font-size: 1rem;
}

.nav-active {
	color: $black;
	font-weight: 600;
}

@media (max-width: 500px) {
	.check-user-status {
		width: 30%;
	}
	.logged-in_content {
	 	h1 {
	 		font-weight: 600;
	 		font-size: 0.8rem;
	 		padding: 15px 0;
	 	}
	 	img {
	 		max-width: 65%;
	 		border: 2px solid white;
	 	}
	 	button {
	 		font-size: 0.5rem;
	 	}
	}
	.navLink {
		font-size: 0.7rem;
	}

}
