.saved {
	width: 100%;
	h2 {
		margin-bottom: 40px;
	}
	p {
		text-align: center;
	}
	
}

.saved-showings {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	position: relative;
	padding-top: 40px;
	margin: 20px 0;
	form {
		width: calc(50% - 40px);
	}
	&:before {
		content: '';
		position: absolute;
		height: 2px;
		width: 80%;
		background: $orange;
		top: 0;
		left: 50%;
		transform: translate(-50%);
	}
}

.conflict {
	.timing-conflict {
		color: red;
		text-transform: uppercase;
		font-weight: bold;
		padding-bottom: 5px;
		border-bottom: 2px solid red;
		display: inline;
	}
}

@media (max-width: 650px) {
	.saved-showings {
		display: block;
		margin: 10px 0;
		form {
			width: calc(100% - 20px);
		}
	}
}



